<!-------------- CARD ------------------->


<div class="cardContainer">

  <!-------------- FIRST LINE IN THE CARD-------------------->


  <div class="trash">
    <i title="حذف" class="pi pi-trash"></i>
    <P>عرض التذكرة الخاص بالفيلم</P>
  </div>

  <!-------------- COPY LINK -------------------->


  <div class="copylink">
    <img ng-copy="aecwercewcw" src="../../assets/images/Group.png" alt="">
    <p>www.tazkty.com/473847</p>
  </div>
  <p class="activation">فعال حتي 15 يوليو 2023</p>


  <!-------------- DASHED LINE WITH 2 END CIRCLES------------------>


  <div class="dashedline">
    <img class="leftcircle"
      src="../../assets/images/17-174104_dotted-circles-gradient-electronic-transparent-background-white-circle.png"
      alt="">
    <hr
      style=" width: 90%; border: none;margin-top: 20px;
    height: 1px;
    background: rgba(255, 255, 255, 0.40);
    background: repeating-linear-gradient(90deg,rgba(255, 255, 255, 0.40),rgba(255, 255, 255, 0.40) 6px,transparent 6px,transparent 12px);">
    <img class="rightcircle"
      src="../../assets/images/17-174104_dotted-circles-gradient-electronic-transparent-background-white-circle.png"
      alt="">

    <!-------------- LAST PART OF THE CARD (QR AND SHARE BUTTON AND SALE PERCENT )-------------------->


  </div>
  <div class="lastpart">
    <div class="QR">
      <qrcode [qrdata]="'123456789'" [width]="100" [errorCorrectionLevel]="'M'"></qrcode>
    </div>

    <!-------------- SHARE BUTTON-------------------->

    <div class="sharebutton">
      <button>مشاركه
        <img src="../../assets/images/share.jpg" alt="">
      </button>

      <!-------------- DICOUNT PERCENT -------------------->

    </div>
    <div class="discount">
      <p class="d">خصم</p>
      <br>
      <p class="percent">25%</p>
    </div>



  </div>
</div>
